.blog-list{
    margin-bottom: 1.45rem;
}

.blog-item {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #fff;
    /* border: 1px solid #d1d5da; */
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); */
    transition: box-shadow 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    border-radius: 3px;
}

.blog-item:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.blog-item > time {
    color: #817c7c;
    display: block;
    /* margin: 0.5em 0; */
    margin-bottom: 1.15rem;
    font-size: 0.75em;
}

.blog-item > h2 {
    margin-bottom: .3rem;
}

.except-container {
    margin-bottom: 1.45rem;
}

.pagination {
    margin-bottom: 1.45rem;
}

.pagination::after {
    content: '';
    display: block;
    clear: both;
}