/**
 * Work with the prism-coy.css
 */

/* Remove the weird box-shadow */
pre[class*="language-"]:before, pre[class*="language-"]:after {
    box-shadow: none;
}

/* Inline code outside code block */
:not(pre) > code[class*="language-"] {
    margin-left: .2em;
    margin-right: .2em;
    bottom: 1px;
}

:root {
    /* It is used extensive in layout.css, I copy first */
    --blog-post-padding: 1.45em;
}

.blog-heading h1 {
    color: #C41026;
}

.blog-post-content {
    background-color: #fff;
    /* padding-top: var(--blog-post-padding);
    padding-bottom: var(--blog-post-padding);
    padding-left: var(--blog-post-padding);
    padding-right: var(--blog-post-padding); */
}

.blog-post-content a {
    color: #BE9440;
}

.blog-post-content h1:not(:first-child){
    /* margin-top: 1.45em; */
}

.blog-post-content blockquote {
    padding-left: .4em;
    border-left: .3em solid #979797;
    padding-left: .4em;
}

.blog-toc {
    background-color: #f6f8fa;
    padding: 1em;
    float: right;
    /* margin-top: 2em; */
    margin-right: 2em;
    font-size: 1rem;
    line-height: 1.2;
}

.blog-toc > ul {
    margin-left: 0.8rem;
}

.blog-toc li {
    margin-top: 0;
    margin-bottom: 0px;
}

.blog-toc li p {
    margin-top: 0;
    margin-bottom: 0;
}

.blog-toc li a {
    text-decoration: none;
    color: rgb(86,109,251);
}

.blog-toc ul {
    margin-top: 0;
    margin-bottom: 1px;
}