/**
 * Work with the prism-coy.css
 */

/* Remove the weird box-shadow */
pre[class*="language-"]:before, pre[class*="language-"]:after {
    box-shadow: none;
}

/* Inline code outside code block */
:not(pre) > code[class*="language-"] {
    margin-left: .2em;
    margin-right: .2em;
    bottom: 1px;
}

:root {
    /* It is used extensive in layout.css, I copy first */
    --blog-post-padding: 1.45em;
}

.blog-post-content {
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    padding-top: var(--blog-post-padding);
    padding-bottom: var(--blog-post-padding);
    padding-left: var(--blog-post-padding);
    padding-right: var(--blog-post-padding);
}

.blog-post-content h1:not(:first-child){
    margin-top: 1.45em;
}

.blog-post-content blockquote {
    padding-left: .4em;
    border-left: .3em solid #979797;
    padding-left: .4em;
}