.blog-list{
    /* margin-bottom: 1.45rem; */
}

.blog-item {
    /* margin-top: 1rem; */
    background-color: #fff;
    transition: box-shadow 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.blog-item:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.blog-item time {
    color: #817c7c;
    display: block;
    /* margin: 0.5em 0; */
    /* margin-bottom: 1.15rem; */
    font-size: 0.75em;
}

.blog-item h2 {
    /* margin-bottom: .3rem; */
    color: peru;
}

.blog-item a {
    /* padding: 1rem; */
    text-decoration: none;
    /* color: black; */
    color: rgb(49,56,97);
    display: block;
}

.blog-item .except-container {
    /* margin-bottom: 1.45rem; */
}

.pagination {
    /* margin-bottom: 1.45rem; */
}

.pagination a {
    /* border: 1px solid black; */
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

.pagination a:hover {
    background-color: rgb(86,109,251);
    color: white;
}

.pagination::after {
    content: '';
    display: block;
    clear: both;
}