.pagination {
  margin-left: -1.0875rem;
  margin-right: -1.0875rem;
  margin-bottom: 1.7rem;
}

.pagination a {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.pagination a:hover {
  background-color: #3f51b5;
  color: white;
}

.pagination::after {
  content: '';
  display: block;
  clear: both;
}
