.container {
  background-color: rgb(246, 248, 250);
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 2px;
  background-color: rgb(246, 248, 250);
}

.label-container {
  display: inline-block;
  margin-right: 5px;
}
